#main1{
	margin-top: 1%;
	background-color: white;
	border: 20px solid #D8D8D8;
}

#slide{
	height: 250px;
	width: 95%;
	border-radius: 25px;
	position: relative;
	margin-bottom: 25px;
	background-image: url("Pictures/Bar/P4.jpg");
	background-repeat: no-repeat;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	background-size: cover;
	border: none;
	margin-top: 30px;
}

#slide #buttonLevel{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#buttonLevel button{
	background: 0;
	color: black;
	font-weight: bold;
	border: 0;
	text-shadow: 1px 1px rgb(232, 232, 232);
}

button:hover{
	cursor: pointer;
}

#slide #textLevel{
	float: left;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	left: 0px;
	width: 100%;
	bottom: 0;
	position: absolute;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#textLevel span{
	margin-left: 15px;
}

#home1{
	font-size: 50px;
}

#pic1{
	height: 300px;
	width: auto;
	justify-content: left;
}

#second{
	text-indent: 48px;
}
#third{
	text-indent: 48px;
}

table tr:nth-of-type(1){
	display: inline-block;
}

table{
	border: none;
}

#first{
	font-weight: normal;
	padding-left: 48px;
	padding-top: 0;
	margin-left: 48px;
}

body{
	background: url("Pictures/UPS/P-04.jpg");/*Photo by Christian Werther on Unsplash*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center center;
	min-height: 100%;
	background-image: center;
}

html{
	height: 100%
	min-height: 100%;
}