body, html{
	height: 100%;
}

body{
	/*Photo by Espen Willersrud on Unsplash*/
	background-image: url("Pictures/UPS/P-01.jpg");
	background-size: cover;
	background-image: center;
	height: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
}

#cell1{
	width: 30%;
	height: auto;
	margin-top: 5%;
	background-color: rgb(98, 214, 173, 0.5);
	border-radius: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-weight: 500;
}

/*form{
	background-color: rgb(98, 214, 173, 0.5);
}*/
/*
#button1{
	width: 20%;
	margin-left: 40%;
	margin-right: auto;
	float: center;
	text-align: center;
	/*font-size: 3vw;}*/
/*
@media (max-width: 960px){
	#button1{
		width: auto;
		margin-left: 35%;
	}*/
}
#social_media{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	width: 100%;
}
.row{
	width: 100%;
	font-size: 19px;
	text-align: center;
	text-shadow: 1px 1px rgb(105, 105, 105, 1);
}
@media (max-width: 960px){
	.row{
		font-size: 93%;
	}
}

#pic1{
	height: 350px;
	width: auto;
	max-width: 95%;
	float: center;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 5px;

}

.booya{
	font-weight: bold;
	text-decoration-line: underline;
}

textarea{
	display: inline-block;
}

#submit_button{
	/*display: inline-block;
	float: center;
	justify-content: center;*/
	margin-left: 30%;
	width: 40%;
	margin-right: 30%;
}

#email_form{
	display: inline-block;
	float: center;
	justify-content: center;
}